apiVersion: v1
kind: Secret
metadata:
  name: rancher-bootstrap-provider
  namespace: crossplane
type: Opaque
stringData:
  credentials: |
    {
      "api_url": "https://10.30.35.99",
      "insecure": "true",
      "bootstrap": "true"
    }

# "http://rancher-sky-infra.cattle-system",
