apiVersion: v1
kind: Secret
metadata:
  name: rancher-bootstrap-provider
  namespace: crossplane
type: Opaque
stringData:
  credentials: |
    {
      "api_url": "https://rancher.maaraa.dev",
      "bootstrap": true
    }
